@using HitThatLine.Web.Endpoints.Account.Models
@model HitThatLine.Web.Endpoints.Account.Models.AccountSummaryViewModel
@if(Model.IsLoggedIn)
{
    <a href="#">@Model.UserName</a>
}
else
{
    <a href="#">Login</a> <text>|</text> @(this.LinkTo<AccountRegisterInputModel>().Text("Register"))
}