@model HitThatLine.Web.Endpoints.Account.Models.AccountSummaryViewModel
@if(Model.IsLoggedIn)
{
    <a href="#">@Model.UserName</a>
}
else
{
    <text><a href="#">Register</a> | <a href="#">Login</a></text>
}