@using HitThatLine.Web.Endpoints.Account.Models
@model HitThatLine.Web.Endpoints.Account.Models.SummaryViewModel
@if(Model.IsLoggedIn)
{
    <a href="#">@Model.UserName</a> <text>|</text> @(this.LinkTo<LogoutInputModel>().Text("Logout"))
}
else
{
    @(this.LinkTo<LoginInputModel>().Text("Login")) <text>|</text> @(this.LinkTo<RegisterInputModel>().Text("Register"))
}