jquery is jquery-1.7.2.min.js
adapt is adapt.min.js
markdownConverter is Markdown.Converter.js
markdownEditor is Markdown.Editor.js
markdownSanitizer is Markdown.Sanitizer.js
siteJs is site.js
formalizeJs is jquery.formalize.min.js
jqueryValidate is jquery.validate.min.js
accountRegistrationJs is accountRegistration.js
loginJs is login.js
newThread is newThread.js

ordered set siteScripts is
jquery
jqueryValidate
adapt
formalizeJs
siteJs

ordered set markdown is
markdownConverter
markdownEditor
markdownSanitizer

markdown requires siteScripts
accountRegistrationJs requires siteScripts
newThread requires markdown
newThread requires siteScripts