html { border: 0; margin: 0; padding: 0; vertical-align: baseline; }
body { background-color: #EAE9E6; border: 0; margin: 0; padding: 0; vertical-align: baseline; height: 100%; font: 12px/18px 'Ubuntu', Helvetica, sans-serif; color: #545454 }
a { color: black; text-decoration: none }
a:visited { color: black; }
a:hover { text-decoration: underline; }

label { font-size: 18px; }
label.error { font-style: italic;color: #c41e3a;}

div.section { border-radius: 5px;padding: 5px 0px 0px 0px }
div.section-title { font-size: 32px;margin: 10px;height: 30px;width: 100%;border-bottom: #545454 solid 2px;color: #000000;text-shadow: #CAC9C6 1px 2px -2px }

div#nav-bar a { margin: 5px;font-size: 18px; margin-right:30px }
div#nav-bar:first-child a { margin-left:15px }

div#main-header { height:95px;width:100%;background-color: #f4f6f5;margin-bottom: 15px;background-image: url('../images/main-header-logo.png');background-repeat: repeat-x }
#main-logo { height:70px; margin: 5px; float:left }
#user-summary { height:70px; margin: 30px 30px 0 0; float: right;vertical-align: middle; font-size:20px }

html.range_4 div#main-header object { height: 70px; }
html.range_3 div#main-header object { height: 70px; }
html.range_2 div#main-header object { height: 65px; }
html.range_1 div#main-header object { height: 60px; }
html.range_0 div#main-header object { height: 55px; }