@using HitThatLine.Endpoints.Account.Models
@using HitThatLine.Endpoints.Discussion.Models
@model HitThatLine.Endpoints.Home.Models.HomeViewModel
<h1>
    @(this.LinkTo<NewAccountInputModel>().Text("Create Account"))
    @(this.LinkTo<DiscussionHomeInputModel>().Text("Threads"))
</h1>