@using FubuMVC.Core.UI
<!DOCTYPE html>
<html>
<head>
    <title>Hit That Line</title>
    @{this.Asset("styles");}
    @{this.Asset("jquery");}
    @this.WriteCssTags()
    @this.WriteScriptTags()
</head>
    <body>
        <div id="htl-head">
        </div>
        <div id="htl-border">
        </div>
        <div id="page">
            @RenderBody()
        </div>
    </body>
</html>